.Registr {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  .contai_image {
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  .Cor {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contai_Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    position: relative;
    width: 50%;
    height: 100vh;

    .Aftoris {
      display: flex;
      align-items: start;
      justify-content: end;
      position: absolute;
      top: 2%;
      right: 2%;

      a {
        padding: 10px 25px;
        border: none;
        border: solid 1px #c30000;
        color: #c30000;
        background-color: #ffff;
        font-size: 15px;
        border-radius: 7px;
        transition: 0.2s;
        text-decoration: none;

        &:hover {
          background-color: #c30000;
          color: #ffff;
        }
      }
    }

    h2 {
      text-align: center;
      font-size: 32px;
      font-family: "Montserrat", 900;
      color: #575757;
      font-style: Black;
      line-height: 100%;
      letter-spacing: 0%;

      span {
        color: #f10000;
      }
    }

    .contai_input {
      display: flex;
      flex-direction: column;
      gap: 30px;

      p {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        font-family: "Lato", sans-serif;
      }

      .contai_value {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f5f5fa66;
        padding: 20px;
        width: 20vw;

        input {
          padding-bottom: 10px;
          width: 100%;
          background-color: #f5f5fa66;
          border: none;
          outline: none;
          transition: 0.3s;
          border-bottom: 1px solid #56657740;
        }

        input:focus {
          border-bottom: 1px solid #f10000;
        }

        input::placeholder {
          color: rgb(146, 146, 146);
          font-size: 15px;
          font-weight: 100;
          font-family: "Lato", sans-serif;
        }
      }
    }

    button {
      padding: 15px 60px;
      border: none;
      color: #ffff;
      border-radius: 5px;
      font-size: 15px;
      background-color: #c30000;
      transition: 0.2s;

      &:hover {
        background-color: #a70000;
        color: #ffff;
      }
    }
  }
}
