.Search_online {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px;
  width: 100%;
  height: 93.4vh;
  border-radius: 10px;

  h2 {
    font-size: 18px;
    font-weight: 700;
    color: #1c1d21;
    padding: 30px 50px;
    padding-bottom: 0;
    font-family: "Lato", 700;
  }

  .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5fa66;
    position: relative;
    
    img{
      position: absolute;
      top: 30%;
      right: 2.9%;
    }

    input {
      outline: none;
      text-decoration: none;
      border: none;
      width: 100%;
      background-color: #f5f5fa66;
      padding: 20px 50px;
      color: #8181a5;
      font-size: 15px;
      font-family: "Lato", 400;
    }
  }

  a {
    text-decoration: none;
    color: #1c1d21;

    .cart {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 10px 50px;

      .title {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        .top {
          display: flex;
          width: 100%;
          justify-content: space-between;

          h3 {
            font-size: 14px;
            font-weight: 700;
            font-family: "Lato", 700;
          }
        }

        .bottom {
          display: flex;
          justify-content: space-between;

          h4 {
            font-size: 14px;
            font-weight: 400;
            color: #1c1d21;
            font-family: "Lato", 400;
          }

          span {
            font-size: 14px;
            font-weight: 700;
            color: #61dc81;
            font-family: "Lato", 700;
          }
        }
      }
    }
  }
}
