.Applications {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 30px;
  padding-left: 0;

  .contai_top {
    background-color: #ffffff;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 50px;
    margin: 30px;
    margin-top: 0;
    margin-left: 0;
    border-radius: 20px;

    .container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      height: 30vh;

      h2 {
        padding-bottom: 20px;
        font-family: "Lato", 700;
      }

      a {
        text-decoration: none;
        color: #1c1d21;
        font-family: "Lato", 700;
      }

      .cart {
        display: flex;
        align-items: center;
        gap: 30px;

        .title {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .top {
            display: flex;
            width: 133vh;
            justify-content: space-between;

            h3 {
              font-size: 14px;
              font-weight: 700;
              font-family: "Lato", 700;
            }
          }

          .bottom {
            display: flex;
            justify-content: space-between;

            h4 {
              font-size: 14px;
              font-weight: 400;
              color: #1c1d21;
              font-family: "Lato", 700;
            }

            span {
              font-size: 14px;
              font-weight: 700;
              color: #61dc81;
              font-family: "Lato", 700;
            }
          }
        }
      }
    }

    button {
      padding: 15px 40px;
      border: none;
      border: solid 2px #c30000;
      background-color: white;
      color: #c30000;
      border-radius: 10px;
      transition: 0.2s;
      font-family: "Lato", 700;

      &:hover {
        background-color: #c30000;
        color: white;
      }
    }
  }

  .contai_bottom {
    display: flex;
    align-items: start;
    gap: 30px;
    width: 153vh;
    height: 42vh;

    a {
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: 30px;
      padding-bottom: 0;
      border-radius: 20px;
      width: 50%;
      height: 91.5%;
      font-family: "Lato", 700;
      font-size: 12px;
      font-weight: 700;
      text-decoration: none;
      color: #1c1d21;
      box-shadow: 0px 3px 0px 0px rgb(181, 181, 181);

      position: relative;

      img {
        width: auto;
        position: absolute;
        display: flex;
        bottom: 0;
        right: 5%;
        width: 21vw;
      }

      .peper {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}
