.Union {
  background-color: #ececec;
  display: flex;
  width: 100%;

  @media (max-width: 1280px) {
    height: 100vw;
  }

  @media (max-width: 850px) {
    height: 150vw;
  }

  @media (max-width: 620px) {
    height: 200vw;
  }

  @media (max-width: 480px) {
    height: 250vw;
  }

  .contai_top {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 50px;
    margin: 30px;
    width: 100%;
    height: 55vw;
    border-radius: 20px;

    @media (max-width: 850px) {
      height: 130vw;
    }
    
    @media (max-width: 620px) {
      height: 170vw;
    }

    @media (max-width: 480px) {
    height: 210vw;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      height: 25vw;

      @media (max-width: 400px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      a {
        text-decoration: none;
        color: #1c1d21;
      }

      h2 {
        padding-bottom: 20px;

        @media (max-width: 400px) {
          padding-bottom: 0;
          font-size: 15px;
          padding-top: 25vw;
        }
      }

      .cart {
        display: flex;
        align-items: center;
        gap: 30px;

        @media (max-width: 400px) {
          display: flex;
          flex-direction: column;
        }

        .title {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .top {
            display: flex;
            justify-content: space-between;
            width: 76vw;

            @media (max-width: 1000px) {
              width: 60vw;
            }

            @media (max-width: 580px) {
              width: 50vw;
            }

            @media (max-width: 460px) {
              width: 40vw;
            }

            @media (max-width: 400px) {
              display: flex;
              gap: 10px;
            }

            h3 {
              font-size: 14px;
              font-weight: 700;
            }
          }

          .bottom {
            display: flex;
            justify-content: space-between;

            @media (max-width: 360px) {
              display: flex;
              gap: 40px;
            }

            h4 {
              font-size: 14px;
              font-weight: 400;
              color: #1c1d21;
            }

            span {
              font-size: 14px;
              font-weight: 700;
              color: #61dc81;
            }
          }
        }
      }
    }
  }
}
