.Union {
  background-color: #ececec;
  display: flex;
  width: 100%;

  .contai_top {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 50px;
    margin: 30px;
    width: 100%;
    border-radius: 20px;

    .container {
      display: flex;
      flex-direction: column;
      gap: 30px;

      a {
        text-decoration: none;
        color: #1c1d21;
        font-family: "Lato", 400;
      }

      h2 {
        padding-bottom: 20px;
        font-family: "Lato", 700;
      }

      .cart {
        display: flex;
        align-items: center;
        gap: 30px;
        width: 100%;

        .title {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;

          .top {
            display: flex;
            justify-content: space-between;
            width: 100%;

            h3 {
              font-size: 14px;
              font-weight: 700;
              font-family: "Lato", 700;
            }
          }

          .bottom {
            display: flex;
            justify-content: space-between;

            h4 {
              font-size: 14px;
              font-weight: 400;
              color: #1c1d21;
              font-family: "Lato", 400;
            }

            span {
              font-size: 14px;
              font-weight: 700;
              color: #61dc81;
              font-family: "Lato", 700;
            }
          }
        }
      }
    }
  }
}
