.Notifications {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 30px;
  width: 100%;
  gap: 30px;
  padding: 30px 50px;
  border-radius: 10px;
  height: 86.8vh;

  h2 {
    font-size: 18px;
    font-weight: 700;
    color: #1c1d21;
    font-family: "Lato", 700;
  }

  a {
    text-decoration: none;
    color: #1c1d21;

    .cart {
      display: flex;
      align-items: center;
      gap: 30px;
      width: 100%;

      .red_title {
        display: flex;
        flex-direction: column;
        margin-top: 1.5vw;

        h4 {
          color: #c30000;
          font-size: 14px;
          font-weight: 700;
          font-family: "Lato", 700;
        }
      }

      .title {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;

        .top {
          display: flex;
          width: 100%;
          justify-content: space-between;

          h3 {
            font-size: 14px;
            font-weight: 700;
            font-family: "Lato", 700;
          }
        }

        .bottom {
          display: flex;
          justify-content: space-between;

          h4 {
            font-size: 14px;
            font-weight: 400;
            color: #1c1d21;
            font-family: "Lato", 400;
          }

          span {
            font-size: 14px;
            font-weight: 700;
            color: #61d0dc;
            font-family: "Lato", 700;
          }
        }
      }
    }
  }
}
