.Union_Profil {
  background-color: #ececec;
  display: flex;
  height: 90vh;
  padding: 30px;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 104%;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 18px;
      color: #566577;
      font-family: "Lato", 400;
    }

    .contai_top {
      display: flex;
      gap: 30px;

      .title {
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: white;
        padding: 30px;
        width: 79.8vh;
        border-radius: 10px;

        .top_title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h1 {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 20px;
            font-weight: 700;
            font-family: "Lato", 700;

            span {
              font-size: 14px;
              color: #8181a5;
              font-weight: 400;
              font-family: "Lato", 400;
            }
          }

          .contai_p {
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 12px;
              font-weight: 400;
              color: #8181a5;
              font-family: "Lato", 400;
            }
          }
        }

        .contai_dan {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .montag {
            font-size: 14px;
            color: #1c1d21;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 10px 20px;
            background-color: #f5f5fa66;
            border-radius: 10px;

            span {
              font-size: 14px;
              color: #8181a5;
              font-weight: 400;
              font-family: "Lato", 400;
            }
          }

          h2 {
            font-size: 14px;
            color: #1c1d21;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 10px 20px;
            background-color: #f5f5fa66;
            border-radius: 10px;
            font-family: "Lato", 700;

            span {
              font-size: 14px;
              color: #8181a5;
              font-weight: 400;
              font-family: "Lato", 400;
            }
          }
        }
      }

      .title_rght {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .top_dan {
          display: flex;
          gap: 30px;

          .contai_mes {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 23vw;
            background-color: white;
            padding: 30px;
            border-radius: 10px;

            .contai_dan {
              display: flex;
              justify-content: space-between;

              h2 {
                font-size: 20px;
                font-weight: 700;
                color: #1c1d21;
                font-family: "Lato", 700;
              }

              .contai_p {
                display: flex;
                flex-direction: column;
                gap: 5px;

                p {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  font-size: 12px;
                  font-weight: 400;
                  color: #8181a5;
                  font-family: "Lato", 400;
                }
              }
            }
          }

          .contai_date {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2 {
              font-size: 14px;
              color: #1c1d21;
              font-weight: 700;
              display: flex;
              justify-content: space-between;
              background-color: white;
              border-radius: 10px;
              width: 20vw;
              padding: 20px;
              font-family: "Lato", 700;

              .uslug {
                font-size: 14px;
                color: #61d0dc;
                font-weight: 700;
                font-family: "Lato", 700;
              }

              span {
                font-size: 12px;
                color: #8181a5;
                font-weight: 400;
                font-family: "Lato", 400;
              }
            }
          }
        }

        .bottom_input {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 30px;
          background-color: white;
          border-radius: 10px;
          height: 14.7vh;

          h1 {
            font-size: 14px;
            font-weight: 700;
            color: #1c1d21;
            font-family: "Lato", 700;
          }

          input {
            border: none;
            outline: none;
          }
        }
      }
    }

    .contai_buttom {
      display: flex;
      gap: 30px;

      .bottom_left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
        padding: 30px 37px;
        border-radius: 10px;
        width: 78.3vh;
        height: 30.7vh;

        h1 {
          font-size: 20px;
          font-weight: 700;
          color: #1c1d21;
          font-family: "Lato", 700;
        }

        a {
          font-size: 12px;
          font-weight: 400;
          color: #8181a5;
          text-decoration: underline;
          font-family: "Lato", 400;
        }

        .contai_fail {
          display: flex;
          align-items: center;
          justify-content: space-between;

          a {
            background-color: #f5f5fa66;
            padding: 10px;
            border-radius: 5px;
            font-family: "Lato", 400;
          }
        }
      }

      .bottom_rght {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 10px;
        width: 104.9vh;

        h1 {
          text-align: center;
          font-size: 16px;
          color: #8181a5;
          font-weight: 100;
          cursor: pointer;
          font-family: "Lato", 100;
        }
      }
    }
  }
}
